// 字体设置
@font-face {
  font-family: 'DIN_Alternate_Bold';
  src: url('./font_family/DIN_Alternate_Bold.ttf');
}
@font-face {
  font-family: 'PingFang_Bold';
  src: url('./font_family/PingFang_Bold.ttf');
}

.video {
  width: 100%;
  height: 100%;
  object-fit: fill; //视频宽高自适应
}